/* .marquee-animation {
  animation: scroll-left 15s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .marquee-animation {
  animation: scroll 20s linear infinite;
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */ 